<button class="btn btn-yellow btn-outline">{{btnText}}</button>
<button class="btn btn-orange btn-outline">{{btnText}}</button>
<button class="btn btn-green btn-outline">{{btnText}}</button>
<button class="btn btn-blue btn-outline">{{btnText}}</button>
<button class="btn btn-purple btn-outline">{{btnText}}</button>
<button class="btn btn-gray btn-outline">{{btnText}}</button>