<button class="btn btn-yellow">{{btnText}}</button>
<button class="btn btn-orange">{{btnText}}</button>
<button class="btn btn-green">{{btnText}}</button>
<button class="btn btn-blue">{{btnText}}</button>
<button class="btn btn-purple">{{btnText}}</button>
<button class="btn btn-gray">{{btnText}}</button>